@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #f6f6f6;
}

body p, h1 {
    color: #170312;
    font-family: 'Roboto', sans-serif;
}

.green-background {
    background-image: url('../images/green.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    display: flex;
}

.flex-items {
    flex-direction: column;
    width: 70%;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex-items p, h1 {
    padding: 0 20px;
    text-align: justify;
}

.flex-items p {
    font-size: 18px;
}

.flex-items h1 {
    text-align: center;
    font-size: 40px;
}

.flex-items img {
    display: block;
    height: 95%;
    margin: auto;
}

.store-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.google img {
    height: auto;
    width: 120px;
}

.apple img {
    height: auto;
    width: 96px;
}

.purple-background {
    background-image: url('../images/purple.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    display: flex;
}

.green-background .flex-items h1 {
    color: #f6f6f6;
}

.purple-background .flex-items h1 {
    color: #06B178;
}

@media screen and (max-width: 800px) {
    .flex-items p, h1 {
        padding: 0 20px;
        text-align: justify;
    }
    
    .flex-items p {
        font-size: 16px;
    }
    
    .flex-items h1 {
        font-size: 35px;
    }

    .store-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .flex-items img {
        display: block;
        height: 85%;
        margin: auto;
    }

    .flex-items p {
        font-size: 14px;
    }
    
    .flex-items h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 400px) and (max-height: 700px) {
    .flex-items img {
        display: block;
        height: 60%;
        margin: auto;
    }
}

@media screen and (max-width: 400px) and (min-height: 700px) {
    .flex-items img {
        display: block;
        height: 90%;
        margin: auto;
    }

    .flex-items p {
        font-size: 14px;
    }
    
    .flex-items h1 {
        font-size: 26px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
    .flex-items {
        flex-direction: column;
        width: 70%;
        margin-bottom: 5%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    .flex-items p, h1 {
        padding: 0 20px;
        text-align: justify;
    }
    
    .flex-items p {
        font-size: 30px;
    }
    
    .flex-items h1 {
        font-size: 55px;
    }
    
    .flex-items img {
        display: block;
        height: 140%;
        margin: auto;
    }

    .store-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .google img {
        height: auto;
        width: 220px;
    }
    
    .apple img {
        height: auto;
        width: 176px;
    }
}

@media screen and (min-width: 1201px) {
    .green-background {
        flex-direction: row-reverse;
    }

    .purple-background {
        flex-direction: row;
    }

    .green-background .flex-items h1 {
        color: #f6f6f6;
    }

    .purple-background .flex-items h1 {
        color: #06B178;
    }
    
    .flex-items {
        flex-direction: column;
        width: 35%;
        margin-bottom: 0;
    }
    
    .flex-items p, h1 {
        padding: 0 20px;
        text-align: justify;
    }
    
    .flex-items img {
        height: 650px;
    }

    .flex-items p {
        font-size: 20px;
    }
    
    .flex-items h1 {
        font-size: 45px;
    }

    .store-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .google img {
        height: auto;
        width: 200px;
    }
    
    .apple img {
        height: auto;
        width: 160px;
    }
}
